
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

@import url('https://unpkg.com/@uiw/reset.css/reset.css');

h1 {
        font-family: "New Amsterdam", sans-serif;
        font-weight: 400;
        font-style: normal;   
        font-optical-sizing: auto; 
} 
header{
    background-color: rgb(241, 155, 241);
}
main{
    background-color: rgb(134, 214, 187);
}
Aside{
    background-color: rgb(235, 175, 255);
}
footer{
    background-color: paleturquoise;
}
/* DISEÑO RESPONSIVO CON MEDIA QUERIES */

@media (max-width: 600px) {
     body {
        background-color: rgb(248, 192, 89);
    }
    #container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        gap: 1rem;
    }
} 
@media (min-width: 600px) {
   body {
        background-color: rgb(251, 212, 37);
    }

#container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 1rem;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "principal principal lado"
    "pie pie pie"
    ;
}
header{
    grid-area: cabeza;
}
main{
    grid-area: principal;
}
aside{
    grid-area: lado;
}
footer{
    grid-area: pie;
}
}